{% extends "../template" %}
{% marker "title" set "Deputados" %}

<CTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Deputados</title>
</head>
<body>

	{% block "content" %}

	    <table>
		<tr>
			<th>Nome</th>
			<th>Filiação</th>
			<th>Assiduidade</th>
			<th>Gastos</th>
		</tr>
	    {% for deputado in deputados %}
		<tr>
			<td><a href="deputado/{{ deputado.id }}">{{ deputado.nome }}</a></td>
			<td>{{ deputado.partido }} - {{ deputado.estado }}</td>
			<td>{{ deputado.gasto }}</td>
			<td>{{ deputado.total_presencas / (deputado.total_faltas + deputado.total_presencas) }} &#37;</td>			
		</tr>
	    {% endfor %}
	    </table>

	{% endblock %}


</body>
</html>

