{% extends "template.html" %}

	{% block content %}

	    <table class="zebra-striped">
		<tr>
			<th>Nome</th>
			<th>Filiação</th>
			<th>Assiduidade</th>
			<th>Gastos</th>
		</tr>
	    {% for deputado in deputados %}
		<tr>
			<td><a href="/deputados/{{ deputado.id }}">{{ deputado.nome }}</a></td>
			<td>{{ deputado.partido }} - {{ deputado.estado }}</td>
			<td>{{ deputado.total_presencas() }} / {{ deputado.total_faltas() + deputado.total_presencas() }}</td>	
			<td>{{ deputado.total_gastos() }}</td>
		</tr>
	    {% endfor %}
	    </table>

	{% endblock %}

