{% extends "template.html" %}
{% block title %}Informações sobre {{ deputado.nome.decode('iso-8859-1') }}{% endblock %}
{% block content %}
    <h2>{{ deputado.nome.decode('iso-8859-1') }}</h2>

    <!-- detalhar assiduidade e gastos! -->
    {{ deputado.partido }} - {{ deputado.estado }}
    {% if deputado.porcentagem_assiduidade() != None %}
    <strong>{{ "%.2f" % deputado.porcentagem_assiduidade() }}%</strong> ({{ deputado.total_presencas() }} / {{ deputado.total_faltas() + deputado.total_presencas() }})
    {% else %}
    <td>-</td>
    {% endif %}
    {{ deputado.total_gastos() }}
{% endblock %}