{% extends "template.html" %}
{% block title %}Sobre{% endblock %}
{% block content %}
    <h2>Sobre</h2>
    <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
    <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>

    <h3>Contribuidores</h3>
    <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
    <ul>
        <li>Anderson Ledo</li>
        <li>André Dieb</li>
        <li>Arthur de Souza Ribeiro</li>
        <li>Danilo Freitas</li>
        <li>Felipe Ribeiro</li>
        <li>Nazareno Andrade</li>
        <li>Nigini Abílio Oliveira</li>
        <li>Paolo Victor</li>
        <li>Thiago Sousa Santos</li>
        <li>Vítor Avelino</li>
    </ul>
{% endblock %}