<DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Projeto DesteLado</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">deste lado</a>
          <ul class="nav">
            <li class="active"><a href="#">Início</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#contact">Contato</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Deste Lado!</h1>
        <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        <p><a class="btn primary large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span-one-third">
          <h2>Assiduidade</h2>
          <p>Ranking dos deputados de acordo com a sua assiduidade.</p>
          <p><a class="btn" href="/deputados?order=presence">View details &raquo;</a></p>
        </div>
        <div class="span-one-third">
          <h2>Gastos</h2>
           <p>Ranking dos deputados de acordo com os seus gastos. </p>
          <p><a class="btn" href="/deputados?order=costs">View details &raquo;</a></p>
       </div>
        <div class="span-one-third">
          <h2>Lista de Deputados</h2>
          <p>Veja a lista de todos os deputados dos quais temos dados disponíveis.</p>
          <p><a class="btn" href="/deputados">View details &raquo;</a></p>
        </div>
      </div>

      <footer>
        <p><img src="../static/img/copyleft-icon.png" style="max-width:10px;"/> CGHackSpace</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
