{% extends "template.html" %}
{% block title %}Início{% endblock %}
{% block content %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <section id="highlight" class="hero-unit">
        <h1>Deste Lado!</h1>
        <p>Projeto com o objetivo de coletar e organizar os dados relativos a atividade dos nosso políticos.
        <a class="btn primary large">Ler mais &raquo;</a></p>
    </section>

    <section id="featured" class="row">
        <div class="span-one-third">
          <h2>Assiduidade</h2>
          <p>Ranking dos deputados de acordo com a sua assiduidade.</p>
          <p><a class="btn" href="/deputados?order=assiduidade">Ver Detalhes &raquo;</a></p>
        </div>
        <div class="span-one-third">
          <h2>Gastos</h2>
           <p>Ranking dos deputados de acordo com os seus gastos. </p>
          <p><a class="btn" href="/deputados?order=gastos">Ver Detalhes &raquo;</a></p>
        </div>
        <div class="span-one-third">
          <h2>Lista de Deputados</h2>
          <p>Veja a lista de todos os deputados dos quais temos dados disponíveis.</p>
          <p><a class="btn" href="/deputados">Ver Detalhes &raquo;</a></p>
        </div>
    </section>
{% endblock %}
