{% extends "template.html" %}
     {% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Deste Lado!</h1>
        <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        <p><a class="btn primary large">Learn more &raquo;</a></p>
      </div>

      <div class="row">
        <div class="span-one-third">
          <h2>Assiduidade</h2>
          <p>Ranking dos deputados de acordo com a sua assiduidade.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span-one-third">
          <h2>Gastos</h2>
           <p>Ranking dos deputados de acordo com os seus gastos. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span-one-third">
          <h2>Lista de Deputados</h2>
          <p>Veja a lista de todos os deputados dos quais temos dados disponíveis.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
     {% endblock %}

