<!DOCTYPE html>
<html dir="ltr" lang="pt-BR">
  <head>
    <meta charset="utf-8">

    <meta name="author" content="CGHackSpace">
    <meta name="description" content="TODO">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/img/favicon.ico">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">deste lado</a>
          <ul class="nav">
            <li class="active"><a href="/">Início</a></li>
            <li><a href="/gastos">Gastos</a></li>
            <li><a href="/assiduidade">Assiduidade</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/contato">Contato</a></li>
          </ul>
        </div>
      </div>
    </div> <!-- .topbar -->

    <div class="container">
		  <div id="content">
		    {% block content %}{% endblock%}
		  </div>

      <footer>
        <p><img id="copyleft" src="/static/img/copyleft-icon.png" /> CGHackSpace</p>
      </footer>
    </div> <!-- .container -->

  </body>
</html>
